# Enable Bzlmod for every Bazel command
common --enable_bzlmod

build --cxxopt=-std=c++20
build --cxxopt=-Ofast
build --action_env=CC=gcc-14

run --cxxopt=-std=c++20
run --cxxopt=-Ofast
run --action_env=CC=gcc-14

test --cxxopt=-std=c++20
test --cxxopt=-Ofast
test --action_env=CC=gcc-14